<div class="container">
  <!-- <app-bt-jumb></app-bt-jumb>
  <div class="row">
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
    <div class="col-md-4">
      <app-bt-crd></app-bt-crd>
    </div>
  </div> -->

  <!-- <app-databinding></app-databinding> -->
  <!-- <app-intr-com></app-intr-com> -->
  <app-locl-ref></app-locl-ref>

</div>