<form class="form-horizontal" [formGroup]="fg" (ngSubmit)="mySub()">
  <fieldset>
    <div id="legend">
      <legend class="">Register Using Data Driven Stratergy</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" formControlName="usNm" placeholder="" class="input-xlarge">
        <p *ngIf="fg.controls.usNm.errors?.required" class="help-block">Username can contain any letters or numbers, without spaces</p>
        <p *ngIf="fg.controls.usNm.errors?.isA" class="help-block">{{fg.controls.usNm.errors?.isA}}</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" formControlName="eml" placeholder="" class="input-xlarge">
        <p *ngIf="fg.controls.eml.errors?.required" class="help-block">Please provide your E-mail</p>
        <p *ngIf="fg.controls.eml.errors?.email" class="help-block">Check Email Pattern</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" formControlName="pass" placeholder="" class="input-xlarge">
        <p *ngIf="!fg.controls.pass.valid" class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
        <p class="help-block">Please confirm password</p>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" [disabled]="!fg.valid">Register</button>
      </div>
    </div>
  </fieldset>
</form>